<div class="knowledge-base-title">
  <h2>{{topic.title}}</h2>
  <a class="go-to-topic" {{action 'goToTopic'}}>
    {{d-icon 'sign-out'}}
    <span>{{i18n 'knowledge_base.go_to_topic'}}</span>
  </a>
</div>
<div class="knowledge-base-post">
  {{{post.cooked}}}
</div>
