<div class="{{categoryClass}}">
  <a href={{categoryUrl}}>{{category.name}}</a>
</div>

<div class="{{topicListClasses}}">
  <ul>
    {{#each topics as |topic|}}
      {{knowledge-base-topic-list-item topic=topic category=category currentItemId=currentItemId}}
    {{/each}}
  </ul>
</div>
